/* custom variables */
:root {
  --gradient-start: hsl(6, 100%, 80%);
  --gradient-end: hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --darker-blue: hsl(227, 57%, 18%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --white: hsl(0, 0%, 100%);

  --ff: "Raleway", sans-serif;
  --fs-normal: 1.35rem;
  --fs-label: 1.2rem;
  --fs-left: 4rem;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* set-up */
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  color: var(--pale-blue);
}

/* component */
.storage-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  width: 37.5rem;
  height: 66.7rem;
  padding-top: 12.7rem;
  background-color: var(--very-dark-blue);
  background-image: url("./images/bg-mobile.png");
}

@media (min-width: 90em) {
  .storage-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 144rem;
    height: 80rem;
    padding-top: 0;
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.header {
  width: 32.5rem;
  height: 20rem;
  padding: 4rem;
  background-color: var(--dark-blue);
  border-radius: 0.6rem;
  border-top-right-radius: 10rem;
}

.links {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.3rem;
}

.links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--very-dark-blue);
  border-radius: 0.6rem;
}

@media (min-width: 90em) {
  .header {
    width: 35rem;
    position: relative;
    bottom: 1rem;
  }
}

main {
  position: relative;
}

.used {
  width: 32.5rem;
  height: 16rem;
  padding: 3.6rem 3.2rem;
  background-color: var(--dark-blue);
  border-radius: 0.6rem;
}

.text {
  text-align: center;
  letter-spacing: 0.3px;
}

.bold {
  font-weight: var(--fw-bold);
}

@media (min-width: 90em) {
  .used {
    position: relative;
    bottom: -1.2rem;
    width: 54rem;
    height: 15.4rem;
    padding: 4.1rem 4rem;
    align-self: baseline;
  }

  .text {
    text-align: left;
  }
}

.progress-wrapper {
  position: relative;
}

.progress-bar {
  display: block;
  margin: 1.6rem 0 1rem;
  padding: 0.3rem;
  background-color: var(--darker-blue);
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05) inset;
}

@media (min-width: 90em) {
  .progress-bar {
    margin: 1.6rem 0 0.5rem;
  }
}

progress[value] {
  /* reset the default appearance */
  appearance: none;

  /* remove default border in Firefox */
  border: none;

  height: 2rem;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--darker-blue);
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
    left,
    var(--gradient-start),
    var(--gradient-end)
  );
  border-radius: 1rem;
}

progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(
    left,
    var(--gradient-start),
    var(--gradient-end)
  );
  border-radius: 1rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-label);
}

.label-wrapper > label {
  font-weight: var(--fw-bold);
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  bottom: 0.5rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3.6rem;
  width: 18rem;
  height: 7.2rem;

  font-weight: var(--fw-bold);
  color: var(--grayish-blue);
  background-color: var(--white);
  border-radius: 0.6rem;
}

.left-digits {
  position: relative;
  top: -3px;
  color: var(--very-dark-blue);
  font-size: var(--fs-left);
}

.description {
  font-size: var(--fs-label);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 90em) {
  .left {
    left: 41rem;
    bottom: 11.6rem;
  }

  .left::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -2.2rem;
    border-top: 2.3rem solid transparent;
    border-bottom: 2.3rem solid transparent;
    border-right: 2.3rem solid var(--white);
  }
}

/* footer */
.attribution {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--very-dark-blue);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  .attribution {
    color: var(--grayish-blue);
  }
}
